/* Set all parents to full height */
html, body, 
.container,
.scroller,
.scroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.scroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	width: 26px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.scroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 26px;
	height: 26px;
	outline: none;
	margin: 25px 0;
	border-radius: 50%;
	border: 4px solid #fff;
}

.no-touch .scroller > nav a:hover {
	background: rgba(255,255,255,0.6);
}

.scroller > nav a.scrollercurrent {
	background: #fff;
	/*z-index: 9999;*/
}

/* background-attachment does the trick */
.scroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .scroller section {
	background-attachment: fixed;
}

#scrollersection1 {
	background-image: url(../images/1.jpg);
}

#scrollersection2 {
	background-image: url(../images/2.jpg);
}

#scrollersection3 {
	background-image: url(../images/3.jpg);
}

#scrollersection4 {
	background-image: url(../images/4.jpg);
}

#scrollersection5 {
	background-image: url(../images/5.jpg);
}

@media screen and (max-width: 55.1875em){

	.scroller > nav {
	visibility: hidden;
	}


}

